{% extends "main.html" %}
{% block head %}
{{ super() }}
<script type="text/javascript">
    window.onAmazonLoginReady = function () {
        amazon.Login.setClientId("{{ AMAZON_CLIENT_ID }}");
    };
    window.onAmazonPaymentsReady = function() {
            showButton();
    };
</script>
<script async="async" src="https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js"></script>
{% endblock head %}
{% block body %}
{% if not cart_session %}
    Nothing in Cart!
{% else %}
<table class="u-full-width">
<thead>Products in Cart</thead>
{% for item in cart_session.cart_items %}

    <tr id="{{ item.item_id }}_row">
        <td>{{ item.product.name | safe }}</td>
                                <td width="50" class="tableunderline">&#x0024;{{ item.subtotal }}
        </td>
        <td width="30" align="right" class="table"><input type=text size=3
                                                                   name="{{ item.id }}_quantity"
                                                                   id="{{ item.id }}_quantity"
                                                                   value="{{ item.quantity }}">
        </td>
        <td><button onclick="cart_remove({{ item.id }})">Remove</button></td>
    <script>
        $(document).ready(function () {
            $("#{{ item.id }}_quantity").keyup(function () {
                if ($("#{{ item.id }}_quantity").val().length > 0) {
                    // Change subtotal before dealing with shipping
                    $.ajax({
                        data: JSON.stringify({
                            quantity: $("#{{ item.id }}_quantity").val(),
                            item_id: {{ item.id }}
                        }),
                        type: "POST",
                        contentType: "application/json;charset=UTF-8",
                        url: "{{ url_for('cart.update_quantity') }}",
                        success: function (response) {
                            if (response.subtotal) {
                                {% for option in SHIPPING_OPTIONS %}
                                    $("#shipping_{{ option }}").text(parseFloat(response.{{ option }}).toFixed(2));
                                {% endfor %}
                                $("#{{ item.product_id }}_sub").text("$" + parseFloat(response.item_subtotal).toFixed(2));
                                $("#subtotal").text("$" + parseFloat(response.subtotal).toFixed(2));
                                $("#shipping").text("$" + parseFloat(response.shipping_cost).toFixed(2));
                                $("#total").text("$" + parseFloat(response.total).toFixed(2));
                                if (response.message) {
                                    document.getElementById("{{ item.id }}_quantity").value = response.item_quantity;
                                }
                            }
                        }
                    });
                }
            });
        });
    </script>
    </tr>
{% endfor %}
</table>

<div class="row">Subtotal: <span id="subtotal">${{ cart_session.subtotal }}</span></div>
Shipping Options
{% for option in SHIPPING_OPTIONS %}
<div class="row">
    <label class="{{ option }}"><input type="radio" id="{{ option }}_radio" name="shipping_select" value="{{ option }}">
        <span class="label-body">{{ option }} $<span id="shipping_{{ option }}">
        </span></span></label>
</div>
{% endfor %}

{% if 'Standard' in SHIPPING_OPTIONS %}
<script>
$('#Standard_radio').prop('checked', true);</script>
{% endif %}
<script>
$(document).ready(function (){
    $("input[type=radio][name=shipping_select]").change(function() {
        $.ajax({
            data: JSON.stringify({shipping_select: $("input[name='shipping_select']:checked").val()}),
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "{{ url_for('cart.update_shipping_selection') }}",
            success: function(response){
                $("#shipping").text("$" + parseFloat(response.shipping_cost).toFixed(2));
                $("#total").text("$" + parseFloat(response.total).toFixed(2));
            }

        });
    });

});
$(window).on('load', function (){
    console.log('loaded');
    $.ajax({
        type: "POST",
        url: "{{ url_for('cart.initial_shipping') }}",
        success: function(response){
            {% for option in SHIPPING_OPTIONS %}
                $("#shipping_{{ option }}").text(parseFloat(response.{{ option }}).toFixed(2));
            {% endfor %}
            $("#shipping").text("$" + parseFloat(response.shipping_cost).toFixed(2));
            $("#total").text("$" + parseFloat(response.total).toFixed(2));
        }

    });
});
</script>
<div class="row">Shipping: <span id="shipping">0</span></div>
<script>$('#shipping').text('$' + {{ cart_session.shipping_cost | round(2) }});</script>
<div class="row">Total: <span id="total">${{ cart_session.total | round(2) }}</span></div>
{% if not cart_session.postal_code %}
    <div class="row">
    The current shipping value is an estimate. Please enter your zip code for a more accurate shipping cost.
    </div>
{% endif %}
<script>
function update_zip() {
    $.ajax({
        data: JSON.stringify({postal_code: $("#postal_input").val()}),
        type: "POST",
        contentType: "application/json;charset=UTF-8",
        url: "{{ url_for('cart.update_postal_code') }}",
        success: function(response){
            if (response.shipping_cost) {
                {% for option in SHIPPING_OPTIONS %}
                    $("#shipping_{{ option }}").text(parseFloat(response.{{ option }}).toFixed(2));
                {% endfor %}
                $("#shipping").text("$" + parseFloat(response.shipping_cost).toFixed(2));
                $("#total").text("$" + parseFloat(response.total).toFixed(2));
                if (response.message) {
                }
            }
        }
    });
}
</script>
<div class="row">
    <input type="text" size="6" name="postal_code" id="postal_input">
    <button onclick="update_zip()">Update Postal Code</button>
</div>

<div id="AmazonLoginButton"></div>

<script>
function cart_remove(item_id) {
    $.ajax({
        data: JSON.stringify({item_id: item_id}, null, "\t"),
        type: "POST",
        contentType: "application/json;charset=UTF-8",
        url: "{{ url_for('cart.remove_item') }}",
        success: function (response) {
            if (response.subtotal) {
                {% for option in SHIPPING_OPTIONS %}
                    $("#shipping_{{ option }}").text(parseFloat(response.{{ option }}).toFixed(2));
                {% endfor %}
                $("#subtotal").text("$" + parseFloat(response.subtotal).toFixed(2));
                $("#shipping").text("$" + parseFloat(response.shipping_cost).toFixed(2));
                $("#total").text("$" + parseFloat(response.total).toFixed(2));
                if (response.message) {
                }
            }
        }
    });
    $("#{{ item_id }}_row").remove();
}
</script>

<div id="paypal-button"></div>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script>
paypal.Button.render({
    env: "sandbox", // "production",
    payment: function (data, actions) {
        return paypal.request.post("{{ url_for('cart.create_paypal_payment') }}").then(function (res) {
            return res.id;
        });
    },
    onAuthorize: function (data, actions) {
        return paypal.request.post("{{ url_for('cart.execute_paypal_payment') }}", data).then(function (res) {
            return window.location.replace(res.redirect);
        });
    }

}, "#paypal-button");
</script>


<script type="text/javascript">
function showButton() {
var authRequest;
    OffAmazonPayments.Button("AmazonLoginButton", "{{ MWS_ACCESS_KEY }}", {
        type: "LwA",
        color: "Gold",
        authorization: function () {
            loginOptions = {scope: "profile postal_code payments:widget payments:shipping_address", popup: true};
            authRequest = amazon.Login.authorize(loginOptions, "/amzncheckout");
        }
    });
}
</script>
{% endif %}
{% endblock body %}